$icon-font-path:"../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import"mixin.scss";
@import"animation.scss";
@import"http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";
.navbar {
    margin-bottom: 1em;
}
.pannel {
    height: 100%;
    border-right: $blue_a soild 1px;
}
.active {
    background-color: $blue_a;
    color: $paper;
}
.card {
    @include cardview();
    margin-bottom: $cardMargin;
    margin-top: $cardMargin;
    line-height: 1.3em;
    padding: 1em;
    padding-bottom: 0.4em;
    patientname {
        font-weight: 800;
    }
}
.color {
    color: $paper;
    min-height: 500px;
}
.blue {
    background-color: $blue_a;
}
.cursor {
    cursor: pointer;
}
.lightPink {
    background-color: $lightPink;
}
.et-page-current {
    height: 100%;
    position: relative;
    clear: both;
}
.threeD {
    -webkit-transform: rotateY(20deg);
    z-index: 99999;
}
.allergies, .medications, .bio, .oper {
    min-height: 200px;
    margin-bottom: 20px;
    .card {
        min-height: 180px;
        clear: both;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}
.consultations {
    height: 400px;
    .card {
        height: 380px;
    }
    h3 {
        color: $blue_b;
    }
}
.allergies {
    h3 {
        color: $earth;
    }
}
.medications {
    h3 {
        color: $blue_b;
    }
}
.oper {
    h3 {
        color: $red;
    }
}
.bio {
    h3 {
        color: $green;
    }
}
.circular {
    width: 5em;
    height: 5em;
    border: 3px soild $blue_a;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50;
    background: center;
    background-color: $paper;
    background-size: 5em auto;
    margin-right: 1em;
}
.paitient hud {
    font-size: 2em;
    color: $red;
    cursor: pointer;
    div {
        margin: 0.5em;
    }
}
.controlGroup {
    top: 1.3em;
    right: 1em;
    position: absolute;
    div {
        margin-left: 0.7em;
    }
}
.card h3 {
    margin-top: 0;
}
.et-page {
    height: 100%;
    width: 100%;
    background-color: $white;
}
